#bannerInf{

	margin-top: 70px;
	position: relative;

}
#bannerInf img{

	width: 100%;
	height: 13%;

}
#bannerInf .contenedor{
    position: absolute;
top: 10%;
left: 40%
transform: translateX(-50%) translateY(-50%)
color: #fff;

}
#bannerInf h2{
	font-size: 50px;
	color: white;
	transform: translateX(110%) translateY(70%)
}
