@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url(paginas.css);

}
#Hola {
	
	text-align: center;
}

body{
	font-family: 'Open Sans',serif;
}
footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.copy {

	font-size: 15px;
}
.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}
.sociales a{

	color:#333;
	text-decoration: none;
}