@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url(paginas.css);

}
#Hola {
	
	text-align: center;
}

body , h2, h1 , h4,  title{
	font-family: monospace, courier, 'Open Sans',serif ;
}

body{
	font-family: 2em;
}

footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.copy {

	font-size: 15px;
}
.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}
.sociales a{

	color:#333;
	text-decoration: none;
}

@media (min-width:1024px){

	.contenedor{
		width: 1000px;
	}
}