

#paginas h4{

	text-align: center;
	color: #fff;
}
#paginas .contenedor{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#paginas article{
 
margin : 2px 145px;
}
#paginas img{
 
	width: 100%;
	max-width: 880px;
}
#border{

	border-style: solid: color: rgb(51,51,51); border-radius: 5px; box-shadow: 0 0 10px;
	background-color:  rgb(51,51,51);


}
#border1{

	border-style: solid: color: rgb(51,51,51); border-radius: 5px; box-shadow: 0 0 10px;
	background-color:  rgb(51,51,51);
}