

#paginas h4{

	text-align: center;
}
#paginas .contenedor{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#paginas article{

margin: 15px;
}
#paginas img{
	width: 100%;
	max-width: 480px;
}